*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;

}
.container{
    display: flex;
    gap: 15px;
    padding: 20px;
}
.board{
    border: 1px solid ;
    height: 80vh;
    width: 250px;
    padding: 10px;
    border-radius: 12px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
}
 